<header>
    <div class = "wrap">
        <section class="logo-eqp">
            <div class="logo">
                <a href="#">EMP</a>
            </div>
        </section>

        <section class="user">
            <span class="dropdown">
              <span class="fa fa-user fa-fw"></span>
              <h3>{{userName}}</h3>

              <!-- <a class="dropdown-toggle" data-bs-toggle="dropdown">
                <span class="fa fa-user fa-fw"></span>
                <h3>Homer_Chen(陳威豪)</h3>
              </a> -->
              <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul> -->      
            </span>
          </section>
    </div>
</header>